* {
  box-sizing: border-box;
}

:root {
  --cor-barra-nav: #004aad;
  --cor-footer: #bed4f0;
  --cor-barra-footer: rgba(0, 92, 169, 0.4);
  --color-para-voce: rgba(169, 210, 243, 0.4);
  --color-button-para-voce: #679de4;
  --font-negrito: bold;
}

main {
  justify-content: center;
}

.home .imagem {
  width: 500px;
  height: 200px;

}

.imagem:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #b6eaf3;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin: 1px;
  width: 100%;
  padding: 1px;

}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  background-color: var(--cor-barra-nav);
  padding: 5px;

}

main .nav-topo ul {
  display: flex;
  list-style-type: none;
  margin: 5px;
  text-decoration: none;

}

.cabeca ul li i {
  padding: 1px;
  margin: 4px;
}

.cabeca ul li a{
  color: white;
  text-decoration: none;
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: var(--cor-barra-footer);
  padding: 1px;
  width: 100%;

}

.catalogo {
  padding: 8px 2px;
  background-color: var(--color-para-voce);
  display: flex;
  flex-direction: column;

}

.catalogo h2 {
  text-align: center;
  margin-bottom: 30px;
  padding: 1px;
}

.itens-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card {
  background-color: rgb(237, 244, 245);
  border: 1px solid #f8f7f7;
  padding: 20px;
  border-radius: 11px;
}

.card h3 {
  margin-bottom: 10px;
  color: #679de4;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #b6eaf3;
}

.btn-para-voce {
  background-color: var(--color-button-para-voce);
  color: white;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: var(--font-negrito)

}

.btn-para-voce:hover {
  border-color: #b6eaf3;
}

.para-voce:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #b6eaf3;
}

.para-voce {
  padding: 1px 5px;
  background-color: var(--color-para-voce);

}

.para-voce h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 1px;
}

.para-voce h2,
p {
  text-align: center;
  margin-bottom: 20px;
  padding: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 800px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #09161b;
}

th {
  background: linear-gradient(#454d9b, #446beb);
  color: white;
  font-weight: bold;
}

footer {
  background-color: var(--cor-footer);
  color: rgb(40, 114, 136);
}

.faleconosco {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faleconosco h2 {
  text-align: center;
  margin-bottom: 20px;

}


.form-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}


form {
  max-width: 400px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.form-content p {
  max-width: 300px;
  line-height: 1.6;
  text-align: left;
  align-self: flex-start;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #004aad;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input[type="reset"] {
  background-color: #f89382;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #679de4;
}

input[type="reset"]:hover {
  background-color: #e95339;
}

.imagem {
  height: 200px;
  width: 300px;
}

.rodape-link {
  background-color: var(--cor-barra-footer);
  padding: 5px;
  display: flex;
  justify-content: center;


}

.rodape-link a {
  border-color: #b6e7f0;
  padding: 20px;
  border: 1px solid #7e8d97;
  gap: 10px;
  color: white;
}

.rodape-link a:hover {
  background-color: #aad0f3;
}

.redesocial i a {
  cursor: pointer;
  text-decoration: none;
}


@media (max-width: 768px) {

  .home .imagem {
    width: 85%;
  }

  .catalogo .itens-card {
    width: 100%;
    flex-direction: column;
    padding: 0;

  }
  /* table{
    width: 10%;
  } */
  th, tb{
    font-size: 10px;
  }

}



@media (max-width: 1020px) {

  .home .imagem {
    width: 85%;
  }
}

.catalogo .itens-card {
  width: 100%;
  flex-direction: column;
  padding: 0;

}
